<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <title>Vehicle Database</title>
      <link href="/forms.css" rel="stylesheet" />
    </head>
    
    <body>
      <%- include('common/header'); -%>

      <div class="container">
        <h1 class="text-center">Add a new vehicle</h1>
          <div class="details">
            <form method="POST" action="/create-specification">
              <h5>Please do not upload copyrighted material.</h5> 
              <div class="form-group">
                <label for="manufacturer_id">Manufacturer*</label>
                <select
                  onchange="this.setCustomValidity(validity.valueMissing ? 'Please select a manufacturer' : '');"
                  class="form-control"
                  name="manufacturer_id"
                  id="manufacturer_id"
                >
                <option selected hidden value="">Select an Option</option>
                  <% manufacturers.forEach( manufacturer => { %>
                  <option value="<%= manufacturer._id %>"><%= manufacturer.name %></option>

                  <% }) %>
                </select>

              <div class="form-group">
                <label for="model">Model*</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="model"
                  name="model"
                  placeholder="Enter Model"
                />
                <% if (errors['model']) { %>
                <p style="color: red"><%= errors['model'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="submodel">Submodel</label>
                <input
                  type="text"
                  class="form-control"
                  id="submodel"
                  name="submodel"
                  placeholder="Enter Submodel"
                />
                <% if (errors['submodel']) { %>
                <p style="color: red"><%= errors['submodel'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="year">Year*</label>
                <input
                  type="number"
                  required
                  class="form-control"
                  id="year"
                  name="year"
                  placeholder="Enter Model Year"
                />
                <% if (errors['year']) { %>
                <p style="color: red"><%= errors['year'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="body_style">Body Style</label>
                <select name="body_style" id="body_style">
                  <option value="Saloon">Saloon</option>
                  <option value="Coupe">Coupe</option>
                  <option value="Estate">Estate</option>
                  <option value="Hatchback">Hatchback</option>
                  <option value="Convertible">Convertible</option>
                  <option value="Minivan">Minivan</option>
                  <option value="SUV">SUV</option>
                  <option value="Pickup Truck">Pickup Truck</option>
                  <option selected hidden value="">Select an Option</option>
                </select>
                <% if (errors['body_style']) { %>
                <p style="color: red"><%= errors['body_style'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="doors">Doors</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="doors"
                  name="doors"
                  placeholder="Enter Door Count"
                />
                <% if (errors['doors']) { %>
                <p style="color: red"><%= errors['doors'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="mass">Mass</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="mass"
                  name="mass"
                  placeholder="Enter Mass (kg)"
                />
                <% if (errors['mass']) { %>
                <p style="color: red"><%= errors['mass'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="displacement">Engine Displacement</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="displacement"
                  name="displacement"
                  placeholder="Enter Displacement (cc)"
                />
                <% if (errors['displacement']) { %>
                <p style="color: red"><%= errors['displacement'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="arrangement">Engine Arrangement</label>
                <input
                  type="text"
                  class="form-control"
                  id="arrangement"
                  name="arrangement"
                  placeholder="Enter Arrangement"
                />
                <% if (errors['arrangement']) { %>
                <p style="color: red"><%= errors['arrangement'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="power">Power</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="power"
                  name="power"
                  placeholder="Enter Power (bhp)"
                />
                <% if (errors['power']) { %>
                <p style="color: red"><%= errors['power'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="torque">Torque</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="torque"
                  name="torque"
                  placeholder="Enter Torque (nm)"
                />
                <% if (errors['torque']) { %>
                <p style="color: red"><%= errors['torque'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="fuel">Fuel</label>
                <select name="fuel" id="fuel">
                  <option value hidden selected="">Select an Option</option>
                  <option value="Petrol">Petrol</option>
                  <option value="Diesel">Diesel</option>
                  <option value="Hybrid">Hybrid</option>
                  <option value="Electric">Electric</option>
                  <option value="Hydrogen">Hydrogen</option>
                  <option value="Other">Other</option>
                </select>
                <% if (errors['fuel']) { %>
                <p style="color: red"><%= errors['fuel'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="drivetrain">Drivetrain</label>
                <select name="drivetrain" id="drivetrain">
                  <option value="" hidden selected>Select an Option</option>
                  <option value="FF">FF</option>
                  <option value="FR">FR</option>
                  <option value="MR">MR</option>
                  <option value="RR">RR</option>
                  <option value="4WD">4WD</option>
                  <option value="Other">Other</option>
                </select>
                <% if (errors['drivetrain']) { %>
                <p style="color: red"><%= errors['drivetrain'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="gears">Gears</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="gears"
                  name="gears"
                  placeholder="Enter Gear Count"
                />
                <% if (errors['gears']) { %>
                <p style="color: red"><%= errors['gears'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="transmission">Transmission Type</label>
                <select id="transmission" name="transmission">
                  <option value="MT">MT</option>
                  <option value="AT">AT</option>
                  <option selected hidden value="">Select An Option</option>
                </select>
                <% if (errors['transmission']) { %>
                <p style="color: red"><%= errors['transmission'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="acceleration">Acceleration</label>
                <input
                  type="number"
                  min=0
                  step="any"
                  class="form-control"
                  id="acceleration"
                  name="acceleration"
                  placeholder="Enter 0-60 Time (s)"
                />
                <% if (errors['acceleration']) { %>
                <p style="color: red"><%= errors['acceleration'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="top_speed">Top Speed</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="top_speed"
                  name="top_speed"
                  placeholder="Enter Top Speed (mph)"
                />
                <% if (errors['top_speed']) { %>
                <p style="color: red"><%= errors['top_speed'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="combined_mpg">MPG</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="combined_mpg"
                  name="combined_mpg"
                  placeholder="Enter Combined MPG"
                />
                <% if (errors['combined_mpg']) { %>
                <p style="color: red"><%= errors['combined_mpg'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="insurance_group">Insurance Group</label>
                <input
                  type="number"
                  min="0"
                  max="50"
                  class="form-control"
                  id="insurance_group"
                  name="insurance_group"
                  placeholder="Enter Insurance Group"
                />
                <% if (errors['insurance_group']) { %>
                <p style="color: red"><%= errors['insurance_group'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="luggage_capacity">Luggage Capacity</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="luggage_capacity"
                  name="luggage_capacity"
                  placeholder="Enter Luggage Capacity"
                />
                <% if (errors['luggage_capacity']) { %>
                <p style="color: red"><%= errors['luggage_capacity'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="average_used_price">Average Used Price</label>
                <input
                  type="number"
                  min=0
                  class="form-control"
                  id="average_used_price"
                  name="average_used_price"
                  placeholder="Enter Average Price (£)"
                />
                <% if (errors['average_used_price']) { %>
                <p style="color: red"><%= errors['average_used_price'].message %></p>
                <% } %>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <p><a href="#">Back to top</a></p>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>

<script>
  document.getElementById("manufacturer_id").setCustomValidity("Please select a manufacturer");
</script>