<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/table.css" rel="stylesheet" />
</head>
<body>
    <%- include('common/header'); -%>

    <table id="manufacturerTable">
    <thead>
        <tr>
            <td>Name</td>
            <td>Country</td>
            <td>Founding Year</td>
            <td>HQ</td>
            <td>Type</td>
            <td>Options</td>
        </tr>
    </thead>
    <%  
    manufacturers.forEach(manufacturer => {
    %>
        <tr>
            <td><%=manufacturer.name%></td>
            <td><%=manufacturer.country%></td>
            <td><%=manufacturer.founding_year%></td>
            <td><%=manufacturer.hq%></td>
            <td><%=manufacturer.type%></td>
            <td>
                <a href="/manufacturers/update/<%= manufacturer.id %>" class="editButton">Edit</a>  
                <a href="/manufacturers/delete/<%= manufacturer.id %>" class="deleteButton">Delete</a>
            </td>
        </tr>
    <%  
        });
    %>
    </table>
    <%- include('common/footer'); -%>
</body>
</html>
