<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vehicle Database</title>
    <link href="/table.css" rel="stylesheet" />
</head>
<body>
    <%- include('common/header'); -%>

    <table id="reviewTable">
    <thead>
        <tr>
            <td>Vehicle</td>
            <td>Score</td>
            <td>Reviewer</td>
            <td>Review Company</td>
            <td>Review Date</td>
            <td>Review Link</td>          
            <td>Options</td>
        </tr>
    </thead>
    <%  
    reviews.forEach(review => {
        specifications.forEach(spec =>{
            if (spec._id.toString() == review.vehicle_id.toString()){
            %>
                <tr>
                    <td><%=spec.manufacturer%> <%=spec.model%> <%=spec.submodel%> '<%=(spec.year).toString().slice(-2)%> </td>
                    <td><%=review.review_contents.score%></td>
                    <td><%=review.review_contents.reviewer%></td>
                    <td><%=review.review_contents.review_company%></td>
                    <td><%=review.review_contents.review_date%></td>
                    <td><a href = "<%=review.review_contents.review_link%>" target="_blank">Full Review</a></td>
                    <td>
                        <a href="/reviews/update/<%= review.id %>" class="editButton">Edit</a>  
                        <a href="/reviews/delete/<%= review.id %>" class="deleteButton">Delete</a>
                    </td>
                </tr>
            <%
                return;
            }
        })
    })
    %>
    </table>
    <%- include('common/footer'); -%>
</body>
</html>