<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Vehicle Database</title>
  </head>
  
  <body>
    <%- include('common/header'); -%>

    <div class="container">
      <h1 class="text-center">Edit an existing manufacturer</h1>
      <div class="row justify-content-md-center">
        <div class="col-">
          <form method="POST">

            <div class="form-group">
              <label for="name">Name</label>
              <input disabled
                value="<%= manufacturer.name %>"
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter Name"
              />
              <% if (errors['name']) { %>
              <p style="color: red"><%= errors['name'].message %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <input
              value="<%= manufacturer.country %>"
                type="text"
                class="form-control"
                id="country"
                name="country"
                placeholder="Enter Country"
              />
              <% if (errors['country']) { %>
              <p style="color: red"><%= errors['country'].message %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="year">Founding Year</label>
              <input
              value="<%= manufacturer.founding_year %>"
                type="number"
                class="form-control"
                id="year"
                name="founding_year"
                placeholder="Enter Founding Year"
              />
              <% if (errors['founding_year']) { %>
              <p style="color: red"><%= errors['founding_year'].message %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="HQ">Headquarters</label>
              <input
              value="<%= manufacturer.hq %>"
                type="text"
                class="form-control"
                id="HQ"
                name="hq"
                placeholder="Enter HQ Location"
              />
              <% if (errors['hq']) { %>
              <p style="color: red"><%= errors['hq'].message %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="type">Type</label>
              <select name="type" id="type">
                <option value="Brand">Brand</option>
                <option value="Division">Division</option>
                <option value="Private">Private</option>
                <option value="Public">Public</option>
                <option value="Subsidiary">Subsidiary</option>
                <option value="Unknown">Unknown</option>
              </select>
              <% if (errors['type']) { %>
              <p style="color: red"><%= errors['type'].message %></p>
              <% } %>
            </div>
  
          </div>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function setSelectedType(elementToChange, valueToSet) {
    for ( var i = 0; i < elementToChange.options.length; i++ ) {
      if ( elementToChange.options[i].text == valueToSet ) {
          elementToChange.options[i].selected = true;
          return;
      }
    }
  }
  setSelectedType(document.getElementById("type"),"<%=manufacturer.type%>");
</script>